<table id='incomeTable'>
  <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Issue Date</th>
      <th>Client</th>
      <th>Type</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Payment Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each incomes}}
      <tr>
        <td>{{this.invoice_id}}</td>
        <td>{{this.issue_date}}</td>
        <td>{{this.client.client_name}}</td>
        <td>{{this.income_type.income_name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.amount}}</td>
        <td>{{this.due_date}}</td>
        <td>{{this.payment_status}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan='5'>Total:</td>
      <td id='incomeSumAmount'>{{incomeSumAmount}}</td>
      <td colspan='2'></td>
    </tr>
  </tfoot>
</table>
